@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src: local("Press Start 2P"),
    url("../fonts/PressStart2P-Regular.woff2") format("woff2"),
    url("../fonts/PressStart2P-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
